<p>Xin chào <%= @resource.email %>!</p>

<p>Bạn đã yêu cầu lấy lại mật khẩu. Hãy nhấn vào link bên dưới:</p>

<p><%= link_to 'Thay đổi mật khẩu', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu bạn không yêu cầu điều này, vui lòng bỏ qua email này.</p>
<p>Mật khẩu của bạn sẽ không thay đổi cho đến khi bạn truy cập vào liên kết ở trên và tạo một mật khẩu mới.</p>
